<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <!-- Main menu -->
        <li><a href="/admin/allusers/<%= currentUser.username %>"><i class="glyphicon glyphicon-home"></i>All users</a></li>
        <li><a href="/admin/stock/<%= currentUser.username %>"><i class="glyphicon glyphicon-list"></i>Stock</a></li>
        <li><a href="supports.html"><i class="glyphicon glyphicon-record"></i>Messages</a></li>
         <li><a href="/admin/logout"><i class="glyphicon glyphicon-log-out"></i>Logout</a></li>
    </ul>
 </div>