 <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                   <li>
                   <a href="/admin/allusers/<%= currentUser.username %>">
                   <i class="glyphicon glyphicon-home"></i>All users</a>
              </li>
               <li>
                <a href="/admin/stock/<%= currentUser.username %>">
                  <i class="glyphicon glyphicon-list"></i>Stock</a>
              </li>
          </div>
      </aside>
      <!--sidebar end-->