<% include header %>

<div class="fh5co-slider">
		<div class="owl-carousel owl-carousel-fullwidth">
		    <div class="item" style="background-image:url(images/slide_1.jpg)">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">Welcome to Swift-pay</h1>
									<h2 class="fh5co-sub-lead">
										poverty is a disease with out a cure, the only prescription for poverty is wealth.
									<a href="#">JOIN US</a></h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		    <div class="item" style="background-image:url(images/slide_2.jpg)">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">We make money</h1>
									<h2 class="fh5co-sub-lead">Make more money as long the money keeps coming you will live a healthy life, so we can fight it together by making extra profit participating here in SWIFTPAY.  <a href="#">CONTACT US</a></h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>	

<div id="fh5co-main">
		<!-- Features -->

		<div id="fh5co-features">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="fh5co-section-lead">Who we are</h2>
						<h3 class="fh5co-section-sub-lead">
							SWIFTPAY is a community organised by very honest  individuals with great vision to build a nation where poverty is reduced an online community where ordinary people from around the world come together to help each other make extra money to support family, businesses, education and every other problem that money can solve... 
						</h3>
					</div>
					<div class="fh5co-spacer fh5co-spacer-md"></div>
				</div>
				<div class="row">
				<h2 style="padding-bottom: 40px;" class="fh5co-section-lead text-center">Our stock</h2>
					<div class="col-md-6 col-sm-6 fh5co-feature-border">
						<div class="fh5co-feature">
							<div class="fh5co-feature-icon to-animate">
								<i class="icon-bag"></i>
							</div>
							<div class="fh5co-feature-text">
								<h3>$32.43 Stock</h3>
								<p>Get our $32.43 stock and you will get a 50% returns within 2 weeks.</p>
								<p><a href="#">Get started</a></p>
							</div>
						</div>
						<div class="fh5co-feature no-border">
							<div class="fh5co-feature-icon to-animate">
								<i class="icon-bag"></i>
							</div>
							<div class="fh5co-feature-text">
								<h3>$50 Stock</h3>
								<p>Get our $50 stock and you will get a 55% returns within 2 weeks.</p>
								<p><a href="#">Get started</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="fh5co-feature">
							<div class="fh5co-feature-icon to-animate">
								<i class="icon-bag"></i>
							</div>
							<div class="fh5co-feature-text">
								<h3>$73.54 Stock</h3>
								<p>Get our $73.54 stock and you will get a 60% returns within 2 weeks.</p>
								<p><a href="#">Get started</a></p>
							</div>
						</div>
						<div class="fh5co-feature no-border">
							<div class="fh5co-feature-icon to-animate">
								<i class="icon-bag"></i>
							</div>
							<div class="fh5co-feature-text">
								<h3>$100 Stock</h3>
								<p>Get our $100 stock and you will get a 70% returns within 2 weeks.</p>
								<p><a href="#">Get started</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Features -->



<% include footer %>